
<div ng-switch on="loaded">
    <div ng-switch-when="false">
     Loading 250 nodes... <img src="./lib/images/21.gif">

    </div>
    <div ng-switch-default>
			</div>
			<div class="row">
			<!-- <label><input type="checkbox" name="mulder" value="mulder">Mulder</label>
			<label><input type="checkbox" name="scully" value="scully">Scully</label> -->
		
				<div ng-repeat="node in allNodes" class="col-sm-4">
				{{ node.title }} <a href="#/node/{{ node.nid }}">link</a>

					<div ng-repeat="category in node.category">
						<label class="label label-info">{{category}}</label>
					</div> 
				
				</div> 
			</div>
    </div>
</div>