
<!-- <div ng-switch on="loaded">
    <div ng-switch-when="false">
     Loading 250 nodes... <img src="./lib/images/21.gif">

    </div>
    <div ng-switch-default>
			</div>
			<div class="row">
			
				<div ng-repeat="node in allNodes" class="col-sm-4">
				{{ node.title }} <a href="#/node/{{ node.nid }}">link</a>

					<div ng-repeat="category in node.category">
						<label class="label label-info">{{category}}</label>
					</div> 
				
				</div> 
			</div>
    </div>
</div> -->

<div ng-controller="myCtrl">
    <b>Category:</b>
    <div ng-repeat="cat in getCategories()">
        <b><input type="checkbox" ng-model="filter[cat]" />{{cat}} 
        </b>
    </div>
    <hr />
    <div ng-repeat="node in filtered=(allnodes | filter:filterByCategory)">
        {{node.title}} 
        <div ng-repeat="term in node.category">
        	<label class="label label-info">{{term}}</label>
        </div> 
    </div>
    <hr />
    Number of results: {{filtered.length}}
</div>
